.service-sec {
    background-color: var(--bg-color);
}

.service-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2rem 10rem;
    margin-bottom: 4rem;
}

.service-header>div {
    width: calc(100% / 2 - 10rem / 2);
}

.service-header h2 {
    margin-top: 2rem;
}

.service-header p {
    color: var(--primary-color);
    opacity: 0.7;
    margin-bottom: 2rem;
}

.service-header .service_btn {
    text-decoration: underline;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.service-header .service_btn:hover {
    color: var(--secondary-color);
}

.service-grid {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
}

.service-card {
    width: calc(100% / 3 - 8rem / 3);
}

.view-more {
    width: 100%;
    margin-top: 3.5rem;
    text-align: center;
}

@media(max-width:992px) {
    .service-card {
        width: calc(100% / 2 - 4rem / 2);
    }

    .service-header>div {
        width: 100%;
    }
}

@media(max-width:767px) {
    .service-header>div {
        width: 100%;
    }
}

@media(max-width:580px) {
    .service-card {
        width: 100%;
    }
}