.advice-sec {
    padding: 0;
    background-color: var(--primary-color);
}

.advice {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
}

.advice>div {
    width: 50%;
}

.advice .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advice>.content {
    padding-block: 4.4rem;
    padding-left: 8.8rem;
}

.advice .content>div {
    max-width: 51rem;
}

.advice .content h2 {
    color: var(--white);
    margin-top: 2rem;
}

.advice .content ul li {
    display: flex;
    gap: 3.2rem;
    margin-top: 4rem;
}

.advice .content ul li .icon {
    color: var(--secondary-color);
    font-size: 2.8rem;
}

.advice .content ul li .content h3 {
    color: var(--white);
    margin-bottom: 2rem;
}

@media(max-width:992px) {
    .advice>.content {
        padding: 3rem;
    }
}

@media(max-width:767px) {
    .advice>div {
        width: 100%;
    }

    .advice .content>div {
        max-width: 100%;
    }

    .advice>.content {
        padding: 4rem 2rem;
    }
}