.sector-header {
    margin-bottom: 4rem;
}

.sector-header h2 {
    margin-top: 2rem;
    letter-spacing: 0;
}

.sector-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
}

.sector-grid .box {
    position: relative;
    transition: all 0.3 ease-in-out;
}

.sector-grid .box img {
    width: 100%;
    object-fit: cover;
}

.sector-grid .box::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.0));
}

.sector-grid .box h3 {
    position: absolute;
    left: 2.4rem;
    bottom: 2.4rem;
    color: var(--white);
    transition: all 0.4s ease-in-out;
}

.sector-grid .box:hover::before,
.sector-grid .box:hover h3 {
    opacity: 0;
    visibility: hidden;
}

@media(max-width:992px) {
    .sector-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:767px) {
    .sector-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:520px) {
    .sector-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .sector-grid .box img {
        height: 300px;
        object-position: top;
    }
}