.service-card {
    padding: 4rem 4.8rem;
    background-color: var(--white);
    overflow: hidden;
    text-align: left;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.service-icons .hover {
    display: none;
}

.service-card:hover .normal {
    display: none;
}

.service-card:hover .hover {
    display: block;
}

.service-card h3 {
    margin-top: 3rem;
}

.service-card p {
    margin-block: 2rem 3rem;
    color: var(--primary-color);
    opacity: 0.7;
}

.service-card>a {
    padding: 1.4rem 2rem;
    border: 2px solid #171d2f33;
    display: inline-block;
    gap: 0.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    color: var(--primary-color);
    transition: none;
}

.service-card:hover {
    background-color: var(--primary-color);
}

.service-card:hover h3 {
    color: var(--white);
}

.service-card:hover p {
    color: rgba(255, 255, 255, 0.6);
}

.service-card:hover>a {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}