.counter-sec {
    background-color: var(--white);
}

.counter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.counter>div {
    text-align: center;
}

.counter span {
    color: var(--primary-color);
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 6rem;
}

.counter p {
    opacity: 0.5;
    letter-spacing: -1px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    line-height: 3rem;
}

@media(max-width:767px) {
    .counter {
        flex-direction: column;
    }

    .counter span {
        font-size: 4.5rem;
        font-weight: 700;
        letter-spacing: 0px;
        line-height: 4.5rem;
    }

    .counter p {
        letter-spacing: -1px;
        font-size: 1.8rem;
        font-weight: 500;
    }
}