.faq-sec {
    background: url(../../../images/faq_bg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.faq-sec::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.7;
    z-index: 1;
}

.faq-sec .container {
    position: relative;
    z-index: 9;
}

.faq-sec  .title-sec h2 {
    color: var(--white);
}

.faq-box {
    padding: 9rem 11rem;
    background-color: var(--white);
}

.accordion-item {
    margin-top: 2rem;
}

.accordion-header {
    cursor: pointer;
    border-bottom: 1px solid #d1d2d5;
    padding-bottom: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.accordion-header h4 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    color: var(--primary-color);
}

.accordion-header span {
    font-size: 30px;
}

.acc-content-outer {
    padding-top: 2.8rem;
}

.accordion-content p {
    color: var(--primary-color);
    text-align: justify;
}

@media(max-width:992px) {
    .faq-box {
        padding: 5rem;
    }
}

@media(max-width:767px) {
    .faq-box {
        padding: 2rem 3rem;
    }
}