.team-sec {
    background-color: var(--bg-color);
}

.team-grid {
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(4, 1fr);
}

.team-grid .card {
    background-color: var(--white);
    overflow: hidden;
}

.team-grid .card img {
    height: 28rem;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.team-grid .card>div {
    padding: 2.4rem 1.8rem;
    text-align: center;
}

.team-grid .card>div h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.team-grid .card>div p {
    color: var(--primary-color);
}

@media(max-width:992px) {
    .team-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:767px) {
    .team-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:480px) {
    .team-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-grid .card img {
        height: 35rem;
    }
}